/* wrmon.css */

Screen {
    align: center middle;
    padding: 1 2;
}

#main-horizontal {
    height: 90%;
    width: 90%;
    border: round white;
}

Static {
    border: round cornflowerblue;
    padding: 1 2;
    overflow: auto;
}

#network-monitor {
    width: 30%;
}

#storage-monitor {
    width: 35%;
    height: 100%;
}

#physical-disk-monitor {
    width: 35%;
    height: 100%;
}
